<div class="container-md mt-5 p-4 border rounded shadow bg-light">
    <div class="row">
      <a class="text-decoration-none mb-3" style="display: flex; justify-content: end;" href="/">← Volver</a>
    </div>
    
    <div class="row text-center">
      <h1 class="mb-4">Acerca de Nosotros</h1>
      <p class="lead" style="text-align: justify;">
En la Universidad Tecnológica de Candelaria, nos apasiona la tecnología y el aprendizaje. Por eso, hemos creado esta Biblioteca Virtual, un proyecto desarrollado por nosotros, estudiantes de la carrera de Ingeniería en Desarrollo y Gestión de Software.
Nuestro objetivo es ofrecer un espacio accesible y moderno donde toda la comunidad universitaria pueda encontrar recursos académicos, materiales de estudio y herramientas para el desarrollo personal y profesional.
Este proyecto es una muestra de nuestro compromiso con la innovación, la colaboración y el apoyo a nuestra universidad, integrando los conocimientos adquiridos durante nuestra formación.
¿Qué encontrarás aquí?
Libros y materiales académicos organizados por categorías.
Recursos accesibles para estudiantes y profesores.
Nuestra Visión
Ser una plataforma que inspire el aprendizaje y contribuya al crecimiento académico de nuestra universidad, demostrando el impacto positivo de la tecnología en la educación.

¡Gracias por ser parte de este proyecto que representa el esfuerzo y dedicación de los futuros ingenieros en software: Gamaliel García, Eddy Cordero, Mayra Medina, Angelica Paola, Jesus Balan, Fernanda Rejon.,  de nuestra universidad!

Contáctanos
Si tienes preguntas, sugerencias o necesitas ayuda, no dudes en comunicarte con nosotros
      </p>
    </div>
  
    <div class="row text-center mt-4">
      <h5>Contactanos al:</h5>
      <div class="d-flex justify-content-center mt-2">
        <img src="https://media.istockphoto.com/id/1130588880/es/vector/icono-de-tel%C3%A9fono-negro-sobre-fondo-blanco-ilustraci%C3%B3n-de-vector.jpg?s=612x612&w=0&k=20&c=Ro4R5Q-rhaQ_PiHVcnxLTISCH763FvvKECavBitvGgY=" 
         alt="Teléfono" 
         style="width: 40px; height: 40px; margin-right: 8px;">
        <p style="font-size: 1.5rem; font-weight: bold;">9822659839</p>
      </div>
    </div>
  </div>
  