body {
    background-color: #fff; 
    color: #fff; 
    font-family: Arial, sans-serif; 
}
.header {
    background-color: white; 
    height: 17px; 
    width: 100%;
}

.container-fluid {
    height: 100vh; 
    padding: 0;
}

.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; 
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}

.card-body {
    padding: 15px;
    flex-grow: 1; 
}

.card-title {
    font-size: 1.25rem;
    color: #2d6a4f; 
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.list-group-item {
    font-weight: bold;
    background-color: #fff;
}

.row {
    margin-top: 2px;
}

.card-title {
    font-size: 1.25rem;
    color: #0d3e28; 
    font-weight: bold; 
}


.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.container-md {
    margin-top: 50px;
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
}


.container-fluid.text-white {
    background-color: #212529;
    padding: 20px 0;
}

/* targeta de libros */
.book-card {
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.book-body {
    padding: 15px;
    background-color: #f8f9fa;
}

.book-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.book-author {
    margin: 10px 0;
}

.book-list {
    background-color: #f8f9fa;
}
hr.my-2 { 
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem; 
    border: 0; 
    border-top: 1px solid #000; }

